{% extends 'academia/base.html' %} {% block subtopics %}
<option value="{% url 'graph'%}">What are Graphs?</option>
<option value="{% url 'academia-home'%}">Breadth First Search</option>
<option value="{% url 'academia-home'%}">Depth First Search</option>
<option value="{% url 'academia-home'%}">Topological Sort</option>
<option value="{% url 'academia-home'%}">Strongly Connected Components</option>
<option value="{% url 'academia-home'%}">Minimum Spanning Tree</option>
<option value="{% url 'academia-home'%}">Kruksals Algorithm</option>
<option value="{% url 'academia-home'%}">Prim's Algorithm</option>
<option value="{% url 'academia-home'%}">Bellman-Ford algorithm</option>
<option value="{% url 'academia-home'%}">Single Source Shortest Path</option>
<option value="{% url 'academia-home'%}">Djikstra's Algorithm</option>
<option value="{% url 'academia-home'%}">Floyd-Warshall Algorithm</option>
<option value="{% url 'academia-home'%}">
  Johnson's Algorithm for sparse graph
</option>
<option value="{% url 'academia-home'%}">Flow Networks</option>
<option value="{% url 'academia-home'%}">Ford-Fulkerson method</option>
<option value="{% url 'academia-home'%}">Push-relabel algorithms</option>
{% endblock subtopics %}

<!-- Search column !-->
{% block description %}

<p class="title is-1">Graph Algorithms</p>
<p class="subtitle">
  A graph G consists of two types of elements: vertices and edges. Each edge has
  two endpoints, which belong to the vertex set. We say that the edge connects
  (or joins) these two vertices.
</p>

{% endblock description %} {% block recommendation %}
<li>Start with 'What are Graphs?'</li>
{% endblock recommendation %}
