{% extends 'academia/base.html' %} {% block subtopics %}
<option value="{% url 'academia-home'%}">Design and Analysis</option>
<option value="{% url 'academia-home'%}">Algorithmic Complexity</option>
<option value="{% url 'academia-home'%}">Data Structures</option>
<option value="{% url 'academia-home'%}">Sorting and Order</option>
<option value="{% url 'academia-home'%}">Searching</option>
<option value="{% url 'algo_graph'%}">Graph Algorithms</option>
{% endblock subtopics %}

<!-- Search column !-->
{% block description %}

<p class="title is-1">Algorithms in Computer Science</p>
<p class="subtitle">
  An algorithm is a specific procedure for solving a well-defined computational
  problem. The development and analysis of algorithms is fundamental to all
  aspects of computer science: artificial intelligence, databases, graphics,
  networking, operating systems, security, and so on. Algorithm development is
  more than just programming. It requires an understanding of the alternatives
  available for solving a computational problem, including the hardware,
  networking, programming language, and performance constraints that accompany
  any particular solution. It also requires understanding what it means for an
  algorithm to be “correct” in the sense that it fully and efficiently solves
  the problem at hand.
</p>

{% endblock description %} {% block recommendation %}
<li><a href="{% url 'academia-home'%}">(Data Structures)</a></li>
<li>Design and Analysis</li>
<li>Algorithmic Complexity</li>
<li>Sorting and Order</li>
<li>Searching</li>
<li>Graph</li>
{% endblock recommendation %}
