{% load static %} {% load ratings %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Academia</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="{% static 'academia/bulma.min.css'%}" />
    <link
      rel="stylesheet"
      href="{% static 'star-ratings/css/star-ratings.css' %}"
    />

    <!-- import the webpage's javascript file -->
    <script src="{% static 'academia/script.js'%}" defer></script>
    <script
      type="text/javascript"
      src="{% static 'star-ratings/js/dist/star-ratings.js' %}"
    ></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!--Header-->

    <main>
      <div>
        <nav class="navbar" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'academia-home'%}">
              <img
                src="https://cdn.glitch.com/0e6a1e14-05f6-4049-a9be-b096fa254aca%2Facademia-logo-white.png?v=1603725240057"
                width="130"
              />
            </a>

            <a
              role="button"
              class="navbar-burger burger"
              aria-label="menu"
              aria-expanded="false"
              data-target="navbarBasicExample"
            >
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="{% url 'academia-home'%}"> Home </a>

              <a class="navbar-item"> About </a>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> Subjects </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item"> About </a>
                  <a class="navbar-item"> Jobs </a>
                  <a class="navbar-item"> Contact </a>
                  <hr class="navbar-divider" />
                  <a class="navbar-item"> Report an issue </a>
                </div>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  {% if user.is_authenticated %}
                  <a class="button is-light" href="{% url 'profile' %}">
                    Profile
                  </a>
                  <a class="button is-light" href="{% url 'logout' %}">
                    Log out
                  </a>
                  {% else %}
                  <a class="button is-light" href="{% url 'login' %}">
                    Log in
                  </a>
                  <a class="button is-primary" href="{% url 'register' %}">
                    <strong>Sign up</strong>
                  </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="columns">
        <!-- Search column !-->

        <div class="column">
          <div class="box">
            <p class="title is-1">Video Resources</p>
            <table class="table">
              <thead>
                <tr>
                  <th>Link</th>
                  <th>Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="{{ resource.3 }}"> {{ resource.4 }} </a>
                  </td>
                  <td>{% ratings resource.3 12 12 %}</td>
                </tr>
                <tr>
                  <td>
                    <a href="{{ resource.4 }}"> {{ resource.4 }} </a>
                  </td>
                  <td>{% ratings resource.4 12 12 %}</td>
                </tr>
                <tr>
                  <td>
                    <a href="{{ resource.5 }}"> {{ resource.5 }} </a>
                  </td>
                  <td>{% ratings resource.5 12 12 %}</td>
                </tr>
                <tr>
                  <td>
                    <a href="{{ resource.6 }}"> {{ resource.6 }} </a>
                  </td>
                  <td>{% ratings resource.6 12 12 %}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="is-vertical">
            <div class="box">
              <p class="title is-2">Article Resources</p>

              <table class="table">
                <thead>
                  <tr>
                    <th>Link</th>
                    <th>Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="{{ resource.8 }}"> {{ resource.8 }} </a>
                    </td>
                    <td>{% ratings resource.8 12 12 %}</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ resource.9 }}"> {{ resource.9 }} </a>
                    </td>
                    <td>{% ratings resource.9 12 12 %}</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ resource.10 }}"> {{ resource.10 }} </a>
                    </td>
                    <td>{% ratings resource.10 12 12 %}</td>
                  </tr>
                  <tr>
                    <td>
                      <a href="{{ resource.11 }}"> {{ resource.11 }} </a>
                    </td>
                    <td>{% ratings resource.11 12 12 %}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="is-vertical">
            <div class="box">
              <p class="title is-2">Text Book Resources</p>
              <table class="table">
                <thead>
                  <tr>
                    <th>Book</th>
                    <th>Rating</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Introduction to Algorithms</td>
                    <td>{% ratings resource.12 12 12 %}</td>
                  </tr>
                  <tr>
                    <td>Algorithms</td>
                    <td>{% ratings resource.4 12 12 %}</td>
                  </tr>
                  <tr>
                    <td>The Algorithm Design Manual</td>
                    <td>{% ratings resource.5 12 12 %}</td>
                  </tr>
                  <tr>
                    <td>Algorithm for Interviews</td>
                    <td>{% ratings resource.6 12 12 %}</td>
                  </tr>
                  <tr>
                    <td>Algorithm in Nutshell</td>
                    <td>{% ratings resource.7 12 12 %}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="is-vertical">
            <div class="box">
              <p class="title is-2">Dicussion:</p>
              <div class="box">
                <div class="buttons">
                  <a class="button is-light" href="{% url 'discussion_CS' %}">
                    Discussion
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Footer -->

    <footer id="contact">
      <div class="content-wrap"></div>
    </footer>
  </body>
</html>
